<!--@subject {{var ticket.getEmailSubject('Assigned ticket')}} @-->

{{template config_path="design/email/header_template"}}
{{var email_preheader_text | raw}}
{{var hidden_separator|raw}}
<p>
{{if use_form_key }}
<h1>{{var ticket.subject}}</h1>
{{else}}
<a href="{{var ticket.getBackendUrl()}}"><h1>{{var ticket.subject}}</h1></a>
{{/if}}
<br>
------------------------------<br><br>

{{trans "Ticket ID:"}} {{var ticket.code}}<br>
{{trans "Name:"}} {{var customer.name}}<br>
{{trans "Email address:"}} {{var customer.email}}<br>
{{trans "Store:"}} {{var store.getFrontendName()}}<br>
{{trans "Department:"}} {{var ticket.department}}<br>
{{trans "Staff (Owner):"}} {{var ticket.getUserName()}}<br>
{{trans "Status:"}} {{var ticket.status}}<br>
{{trans "Priority:"}} {{var ticket.priority}}<br>
{{trans "Created:"}} {{var ticket.getCreatedAtFormated()}}<br>
<br>
{{var ticket.getLastMessageHtmlText() | raw}}
{{block class='Mirasvit\\Helpdesk\\Block\\Email\\History' area='frontend'
    template='Mirasvit_Helpdesk::email/history.phtml' ticket=$ticket}}
{{var ticket.getHiddenCodeHtml() | raw}}
</p>

{{template config_path="design/email/footer_template"}}
