<!--@subject Satisfaction survey result for ticket #{{var ticket.code}} @-->

{{template config_path="design/email/header_template"}}
{{var email_preheader_text | raw}}
{{var hidden_separator|raw}}
<p>
    {{trans "Dear <strong>%user_firstname %user_lastname</strong>, <br><br>
    %ticket_customer_name rated your help with smile" user_firstname=$user.firstname user_lastname=$user.lastname ticket_customer_name=$ticket.customer_name | raw}}<br><br>
    <img src="{{var rate_image_url}}" width="100px" height="100px">
</p>
<p>
{{if use_form_key }}
<h1>{{var ticket.subject}}</h1>
{{else}}
<a href="{{var ticket.getBackendUrl()}}"><h1>{{var ticket.subject}}</h1></a>
{{/if}}
<br>
------------------------------<br>
{{trans "Ticket ID:"}} {{var ticket.code}}<br>
{{trans "Customer email:"}} {{var ticket.customer_email}}<br>
{{depend satisfaction.comment}}
{{trans "Comment:"}} {{var satisfaction.comment}}<br>
{{/depend}}
</p>

{{template config_path="design/email/footer_template"}}
