Department,Sở
"Create New Ticket","Tạo vé mới"
Status,"Trạng thái"
Priority,"Sự ưu tiên"
Replies,"Trả lời"
View,"Lượt xem"
"Help Desk","Bàn trợ giúp"
"Thank you","Cảm ơn bạn"
"Create Ticket","Tạo vé"
"Your request was successfully submitted. You should receive a confirmation email shortly.","Yêu cầu của bạn đã được gửi thành công. Bạn sẽ sớm nhận được email xác nhận."
Telephone,"Điện thoại"
"Your inquiry was submitted and will be responded to as soon as possible. Thank you for contacting us.","Yêu cầu của bạn đã được gửi và sẽ được trả lời càng sớm càng tốt. Cảm ơn bạn đã liên hệ với chúng tôi."
"Unable to submit your request. Please, try again later","Không thể gửi yêu cầu của bạn. Vui lòng thử lại sau"
"Page not found.","Không tìm thấy trang."
"Your message was successfuly posted","Tin nhắn của bạn đã được đăng thành công"
"Your ticket was successfuly posted","Vé của bạn đã được đăng thành công"
"Ticket was successfuly closed","Vé đã thành công"
"Can't upload file %1 . Max allowed upload size is %2 MB.","Không thể tải lên tệp %1. Kích thước tải lên tối đa được phép là %2 MB."
"Allows only this file types: %1","Chỉ cho phép các loại tệp này: %1"
"Message added","Đã thêm tin nhắn"
"Internal note added","Đã thêm ghi chú nội bộ"
"Third party message added","Đã thêm thông điệp của bên thứ ba"
"Private third party message added","Đã thêm thông báo của bên thứ ba riêng tư"
"-- Please Select --","-- Vui lòng chọn --"
"Contact Tab","Tab liên hệ"
"Contact Form","Mâu liên hệ"
" at %1 (%2) - %3","tại %1 (%2) - %3"
"You don't have permissions to read this ticket. Please, contact your administrator.","Bạn không có quyền đọc vé này. Vui lòng liên hệ với quản trị viên của bạn."
"Invalid Customer Email","Email khách hàng không hợp lệ"
"not set","không được thiết lập"
"Unknown time","Thời gian không xác định"
ago,"trước đây"
"from now","từ giờ"
"1 sec ago","1 giây trước"
"Open Ticket","Vé mở"
"Open Tickets","Mở vé"
"! Blocked file - ","! Tệp bị chặn -"
Disabled,"Tàn tật"
"AW Helpdesk","AW Helpdesk"
"MW Helpdesk","MW Helpdesk"
"File System","Hệ thống tập tin"
Database,"Cơ sở dữ liệu"
Aqua,Aqua
Grey,Xám
Navy,"Hải quân"
Silver,Bạc
Black,Đen
Green,"Màu xanh lá"
Olive,Ôliu
Teal,Teal
Blue,"Màu xanh da trời"
Lime,Vôi
Purple,"Màu tím"
Fuchsia,Fuchsia
Maroon,"Bỏ rơi"
Red,"Màu đỏ"
Orange,"Trái cam"
Yellow,"Màu vàng"
Text,"Bản văn"
Date,Ngày
Checkbox,"Hộp kiểm"
"Drop-down list","Danh sách thả xuống"
"In minutes...","Trong vài phút..."
"In hours...","Trong giờ ..."
"In days...","Trong ngày ..."
"In weeks...","Trong tuần ..."
"In months...","Trong tháng..."
Custom,"Tập quán"
"--Please Select--","--Vui lòng chọn--"
"New ticket created","Đã tạo vé mới"
Success,"Sự thành công"
Customer,"Khách hàng"
Staff,"Cán bộ"
"Third party","Bên thứ ba"
Closed,"Đã đóng"
"Opened 24hr","Mở cửa 24 giờ"
"Helpdesk Tickets","Helpdesk Tickets"
"Cannot delete ticket with id %1","Không thể xóa vé có id %1"
Edit,"Chỉnh sửa"
"All Departments","Tất cả bộ ngành"
Back,"Trở lại"
"24 hrs x 7 days","24 giờ x 7 ngày"
"Select working days/hours","Chọn ngày / giờ làm việc"
"Satisfaction survey","Khảo sát sự hài lòng"
"to %1 (third party)","đến %1 (bên thứ ba)"
"%1 (third party)","%1 (bên thứ ba)"
"added %1 (%2)","đã thêm %1 (%2)"
"Ticket Summary","Tóm tắt vé"
"Ticket ID","ID vé"
Assignee,"Người được chuyển nhượng"
"Additional Info","Thông tin bổ sung"
"Ticket History","Lịch sử vé"
"Done by","Hoan thanh bởi"
Changes,"Thay đổi"
Name,Tên
"Attach files","Đính kèm tệp"
Submit,"Gửi đi"
"Submit Ticket","Vé tham gia"
"What is your question?","Câu hỏi của bạn là gì?"
"We found the following topics that might be helpful:","Chúng tôi đã tìm thấy các chủ đề sau có thể hữu ích:"
"None of these are helpful - get in touch","Không ai trong số này hữu ích - hãy liên lạc"
"We have not found topics that can be helpful.","Chúng tôi đã không tìm thấy chủ đề có thể hữu ích."
"Contact Information","Thông tin liên lạc"
Comment,"Bình luận"
"We are open 24 x 7","Chúng tôi mở cửa 24 x 7"
"We are closed","Chúng tôi đã đóng cửa"
"Timezone: %1","Múi giờ: %1"
"Please take a second to rate my reply...","Vui lòng dành một giây để xếp hạng trả lời của tôi ..."
Great,"Tuyệt quá"
Awesome,"Tuyệt vời"
"Fast, friendly, helpful, pleasant. Great job!","Nhanh chóng, thân thiện, hữu ích, dễ chịu. Lam tôt lăm!"
"Just Okay","Được rồi"
"Fine, but definitely could have been better.","Tốt, nhưng chắc chắn có thể tốt hơn."
"Not good","Không tốt"
"Unfortunately, I wasn't happy with it at all.","Thật không may, tôi đã không hài lòng với nó cả."
"Thank you for participating in our survey!","Cảm ơn vì đã tham gia vào cuộc điều tra của chúng tôi!"
"If you would like to provide additional comments, please do so below:","Nếu bạn muốn cung cấp thêm nhận xét, vui lòng thực hiện như sau:"
Message,"Thông điệp"
"Submit Message","Gửi tin nhắn"
"Thank you for your feedback!","Cảm ơn phản hôi của bạn!"
Attachments,"Tệp đính kèm"
Order,"Gọi món"
"-- Select an Order --","- Chọn một đơn đặt hàng -"
"Create ticket","Tạo vé"
"You don't have open tickets","Bạn không có vé mở"
"Post a Reply","Gửi một trả lời"
"Reopen Ticket","Mở lại vé"
"Close Ticket","Đóng vé"
History,"Lịch sử"
"Back to My Tickets","Quay lại Vé của tôi"
"Help Desk MX","Bàn trợ giúp MX"
"Contact Us","Liên hệ chúng tôi"
Open,Mở
Subject,"Môn học"
"Last Activity","Hoạt động cuối"
"Request ID","Yêu cầu ID"
"The file does not exist or was deleted.","Các tập tin không tồn tại hoặc đã bị xóa."
"Submitted from the page: ","Gửi từ trang:"
