<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko foreach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko foreach: getRegion('messages') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="osc">
	<div class="groupe-col col-1">
		<div class="col col-shipping-address">
			<!-- ko foreach: getRegion('steps') -->
			<!-- ko foreach: getRegion('shipping-step') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
			<!--/ko-->
		</div>
	</div>
	<div class="groupe-col col-2">
		<div class="col col-shipping-methods">
			<!-- ko foreach: getRegion('steps') -->
			<!-- ko foreach: getRegion('shipping-method-step') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
			<!--/ko-->
		</div>
		<div class="col col-payment-methods">
			<!-- ko foreach: getRegion('steps') -->
			<!-- ko foreach: getRegion('billing-step') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
			<!--/ko-->
		</div>
	</div>
	<div class="groupe-col col-3">
		<div class="col col-total">
			<!-- ko foreach: getRegion('sidebar') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>
	</div>
</div>